.main-landing {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #f9f6f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 1s ease;
}

/* teks tengah */
.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-logo {
  width: 400px;
  height: auto;
  opacity: 0.9;
}